connexion[aiohttp,swagger-ui] >= 2.6.0; python_version>="3.6"
# 2.3 is the last version that supports python 3.5
connexion[aiohttp,swagger-ui] <= 2.3.0; python_version=="3.5" or python_version=="3.4"
# connexion requires werkzeug but connexion < 2.4.0 does not install werkzeug
# we must peg werkzeug versions below to fix connexion
# https://github.com/zalando/connexion/pull/1044
werkzeug == 0.16.1; python_version=="3.5" or python_version=="3.4"
swagger-ui-bundle == 0.0.6
# HACK: install openapi-spec-validator <= 0.4.0 (0.5.x removes 'handlers' package https://github.com/p1c2u/openapi-spec-validator/releases/tag/0.5.0)
openapi-spec-validator==0.4.0
PyGithub
Jinja2
python-jenkins
deepdiff
namegenerator
GitPython
stevedore
beautifulsoup4
namegenerator>=1.0.6
aiohttp>=3.8.1
urllib3~=1.26
RADL~=1.2.0
ec3-cli~=2.2.1
# report2sqaaas == 1.9.0-alpha2
git+https://github.com/EOSC-synergy/sqaaas-reporting@1.9.0-alpha2#egg=report2sqaaas
# report2sqaaas-plugin-markdownlint = 1.9.0-alpha8
git+https://github.com/EOSC-synergy/sqaaas-reporting-plugins@1.9.0-alpha8#egg=report2sqaaas-plugin-markdownlint&subdirectory=qc_doc_markdownlint
# report2sqaaas-plugin-find_doc_files = 1.9.0-alpha8
git+https://github.com/EOSC-synergy/sqaaas-reporting-plugins@1.9.0-alpha8#egg=report2sqaaas-plugin-find_doc_files&subdirectory=qc_doc_find_doc_files
# report2sqaaas-plugin-licensee = 1.9.0-alpha8
git+https://github.com/EOSC-synergy/sqaaas-reporting-plugins@1.9.0-alpha8#egg=report2sqaaas-plugin-licensee&subdirectory=qc_lic_licensee
# report2sqaaas-plugin-boolean = 1.9.0-alpha8
git+https://github.com/EOSC-synergy/sqaaas-reporting-plugins@1.9.0-alpha8#egg=report2sqaaas-plugin-boolean&subdirectory=qc_ALL_boolean
# report2sqaaas-plugin-json_not_empty = 1.9.0-alpha8
git+https://github.com/EOSC-synergy/sqaaas-reporting-plugins@1.9.0-alpha8#egg=report2sqaaas-plugin-json_not_empty&subdirectory=qc_ALL_json_not_empty
# report2sqaaas-plugin-flake8 = 1.9.0-alpha8
git+https://github.com/EOSC-synergy/sqaaas-reporting-plugins@1.9.0-alpha8#egg=report2sqaaas-plugin-flake8&subdirectory=qc_sty_flake8
# report2sqaaas-plugin-bandit = 1.9.0-alpha8
git+https://github.com/EOSC-synergy/sqaaas-reporting-plugins@1.9.0-alpha8#egg=report2sqaaas-plugin-bandit&subdirectory=qc_sec_bandit
# report2sqaaas-plugin-cff = 1.9.0-alpha8
git+https://github.com/EOSC-synergy/sqaaas-reporting-plugins@1.9.0-alpha8#egg=report2sqaaas-plugin-cff&subdirectory=qc_met_cff
# report2sqaaas-plugin-fairEva = 1.9.0-alpha8
git+https://github.com/EOSC-synergy/sqaaas-reporting-plugins@1.9.0-alpha8#egg=report2sqaaas-plugin-fairEva&subdirectory=qc_fair_fairEva
# report2sqaaas-plugin-is_semver = 1.9.0-alpha8
git+https://github.com/EOSC-synergy/sqaaas-reporting-plugins@1.9.0-alpha8#egg=report2sqaaas-plugin-is_semver&subdirectory=qc_ver_is_semver
# report2sqaaas-plugin-fuji = 1.9.0-alpha8
git+https://github.com/EOSC-synergy/sqaaas-reporting-plugins@1.9.0-alpha8#egg=report2sqaaas-plugin-fuji&subdirectory=qc_fair_fuji
# report2sqaaas-plugin-jenkins_exit_status = 1.9.0-alpha8
git+https://github.com/EOSC-synergy/sqaaas-reporting-plugins@1.9.0-alpha8#egg=report2sqaaas-plugin-jenkins_exit_status&subdirectory=qc_ALL_jenkins_exit_status
# report2sqaaas-plugin-gosec = 1.9.0-alpha8
git+https://github.com/EOSC-synergy/sqaaas-reporting-plugins@1.9.0-alpha8#egg=report2sqaaas-plugin-gosec&subdirectory=qc_sec_gosec
