[DEFAULT]
## -------------------- ##
## Mandatory parameters ##
## -------------------- ##
## - Backend used for the repository management. Options: 'github'
##   A section with this name MUST be defined below
repository_backend = github

## ------------------------------------------ ##
## Optional parameters (incl. default values) ##
## ------------------------------------------ ##
## - Path to the JSON file used as DB
# db_file = /sqaaas/sqaaas.json
## - Criteria tooling: repository URL
# tooling_repo_url = https://github.com/EOSC-synergy/sqa-composer-templates
## - Criteria tooling: repository branch
# tooling_repo_branch = main
## - Criteria tooling: metadata (relative path from <tooling_repo_url>)
# tooling_metadata_file = tooling.json

[jenkins]
## -------------------- ##
## Mandatory parameters ##
## -------------------- ##
## - Jenkins URL endpoint
url = https://jenkins.example.org/
## - Jenkins user with admin permissions
user = paco
## - Name in Jenkins of the base repository organization
github_organization_name = my_org

## ------------------------------------------ ##
## Optional parameters (incl. default values) ##
## ------------------------------------------ ##
## - Path to file containing the Jenkins user's token
##   + Defaults to: /etc/sqaaas/.jk_token
# token = /etc/sqaaas/.jk_token
## - Jenkins credential's ID to be used in order to push docker images to a remote
##   registry. This feature allows to have a default credential, without the
##   burden of requesting the user to add a credential in Jenkins as part of
##   the pipeline composition.
# docker_credential_id = my_docker_hub_creds
## - (Only in conjunction with 'docker_credential_id') Docker Hub's organization
##   where the credentials set in 'docker_credential_id' are able to push images.
# docker_credential_org = my_docker_hub_org


[github]
## -------------------- ##
## Mandatory parameters ##
## -------------------- ##
## - Name of the GitHub organization to use for managing repos containing pipelines
organization = my_github_org

## ------------------------------------------ ##
## Optional parameters (incl. default values) ##
## ------------------------------------------ ##
## - Path to file containing the GitHub token to carry out requests to GitHub API
# token = /etc/sqaaas/.gh_token


[badgr]
## -------------------- ##
## Mandatory parameters ##
## -------------------- ##
## - Badgr URL endpoint
url = https://badgr.example.org/
## - Badgr user with Issuer permissions
user = pepe
## - Badgr's Issuer name
issuer = my_issuer_name
## - Badgr's BadgeClass name that belongs to the former issuer
badgeclass = my_badgeclass_name

## ------------------------------------------ ##
## Optional parameters (incl. default values) ##
## ------------------------------------------ ##
## - Path to file containing the given Badgr user's password
# token = /etc/sqaaas/.bdgr_token

[badgr:software]
bronze = QC.Acc QC.Lic QC.Met QC.Doc
silver = ${bronze} QC.Sty QC.Sec QC.Ver
gold = ${silver} QC.Uni QC.Wor QC.Man QC.Del

[badgr:services]
bronze = SvcQC.Aud
silver = ${bronze} SvcQC.Fun SvcQC.Sec SvcQC.Doc
gold = ${silver} SvcQC.Api SvcQC.Per SvcQC.Int

[badgr:fair]
bronze = rda_f1_01d rda_f1_01m rda_f1_02d rda_f1_02m rda_f2_01m rda_f3_01m rda_f4_01m rda_a1_02d rda_a1_02m rda_a1_03d rda_a1_03m rda_a1_04d rda_a1_04m rda_a1_1_01m rda_a2_01m rda_r1_01m da_r1_1_01m rda_r1_3_01d rda_r1_3_01m rda_r1_3_02m
silver = ${bronze} rda_a1_01m rda_a1_05d rda_a1_1_01d rda_i1_01d rda_i1_01m rda_i1_02d rda_i1_02m rda_i2_01m rda_i3_01m rda_i3_03m rda_r1_1_02m rda_r1_1_03m rda_r1_2_01m rda_r1_3_02d
gold = ${silver} rda_a1_2_01d rda_i2_01d rda_i3_01d rda_i3_02d rda_i3_02m rda_i3_04m rda_r1_2_02m
