<!--
SPDX-FileCopyrightText: Copyright contributors to the Software Quality Assurance as a Service (SQAaaS) project <sqaaas@ibergrid.eu>

SPDX-License-Identifier: GPL-3.0-only
-->

<blockquote class="badgr-badge" style="font-family: Helvetica, Roboto, &quot;Segoe UI&quot;, Calibri, sans-serif;"><a href="{{ openBadgeId  }}?identity__url={{ commit_url |urlencode }}"><img width="120px" height="120px" src="{{ image }}"></a><script async="async" src="https://eu.badgr.com/assets/widgets.bundle.js"></script></blockquote>
